img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.container {
  width: 700px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 24px;
}

p {
  margin: 0 0 10px 0;
}

.title {
  background-color: #078855;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 0px solid black;
  padding: 10px;
}

.table-header {
  background-color: #e0e0e0;
}

.table-body {
  background-color: #ffffff;
}


a.btn--green {
	width: 50px;
	color: #fff;
	background-color: #078855;
}


a.btn,
button.btn {
	font-size: 1.1rem;
	font-weight: 200;
	line-height: 1.5;
	position: relative;
	display: inline-block;
	padding: 1rem 1rem;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	letter-spacing: 0.1em;
	border-radius: 0.5rem;
}


ul {
  list-style: none;
}

ul li {
  position: relative;
}

ul li:not(:first-child) {
  margin-top: 10px;
}

ul li:before {
  display: block;
  position: absolute;
  top: 6px;
  left: -18px;
  width: 10px;
  height: 5px;
  transform: rotate(-45deg);
  border-bottom: 1px solid red;
  border-left: 2px solid red;
  content: "";
}
